.collection-picker {
  display: flex;
  flex-direction: row;
	overflow: hidden;
}

.collection-picker > 
.collection-search {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.collection-picker > 
.collection-search > 
.search-bar {
  width: 100%;
}

.collection-picker > 
.collection-search > 
.display {
  flex: 1;
}

.collection-picker >
.selected-collections {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.collection-picker >
.selected-collections >
.display {
  flex: 1;
}

.collection-picker >
.collection-search >
.no-results {
	display: flex;
	justify-content: center;
	color: #00000060;
	font-style: italic;
	margin: 32px;
}

/* .collection-picker >
.selected-collections >
button {
  
} */
